@import "tailwindcss";

@theme {
  --color-primary: #104038;
  --color-original: hsl(156, 100%, 10%); /* #00321E */
  --color-secondary: hsl(167, 29%, 22%); /* # 284841 */
  --color-accent: #f55f42;
  --body-color: #f7f4ee;
  --beige-color: #f5f5dc;
}

@layer base {
  body {
    font-family: "Playfair Display";
    /* background-color: var(--body-color); */
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 2rem;
    line-height: 46px;
    font-weight: bold;
  }

  h3 {
    margin-bottom: 12px;
    font-size: 1.75rem; /* 24px */
  }

  a {
    text-decoration: none;
    transition: all 0.2s ease-in;
  }

  p {
    font-family: "Inter";
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
  }

  li {
    font-family: "Inter";
  }
}

@utility container {
  max-width: 1220px;
  margin-inline: auto;
  padding-inline: 20px;
}

@utility hamburger-styles {
  transform: -translateX(150%) !important;
}

@utility service-link {
  display: block;
  margin-top: 18px;
  color: var(--color-primary);
  font-weight: 600;
}

@utility wavy-background {
  /* height: 750px; */
  /* aspect-ratio: 2/3; */
  /* update the 85% to control the curvature
     you can also update the 50% to control the position
  */
  clip-path: ellipse(145% 100% at 50% 100%);
  background: var(--color-primary);
}

@utility folded-background {
  --r: 40px; /* 40 radius */

  /* width: 300px; */
  /* aspect-ratio: 1.5; */
  background: var(--color-primary);
  /* border-bottom-left-radius: var(--r); */
  
  mask:
    radial-gradient(var(--r) at 100% 0,#0000 100%,#000 calc(100% + 1px))
    0 0/var(--r) var(--r) no-repeat,
    linear-gradient(#0000 var(--r),#000 0);
}

@utility hover-accent {
  &:hover {
    color: #ffffff;
    background-color: var(--color-accent);
  }
}

@utility eyebrow {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  color: var(--secondary-color);
  font-style: italic;
}

@utility heading-line-center {
  display:block;
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);
  width: 25%;
  height: 3px;
  background-color: var(--color-primary);
}

@utility btn-primary {
  transition: all 0.3s ease-in-out;
  font-weight: 600px;
  /* padding-block: 16px;
  padding-inline: 24px; */
  border-radius: 8px;
  &:hover {
    background-color: var(--color-accent);
    cursor: pointer;
    /* box-shadow: 0px 2px 4px 2px var(--color-primary); */
  }
}

.service-card {
  /* padding-inline: 26px;
  padding-block: 44px; */
  box-shadow: 0px 2px 4px 0px var(--color-primary);
  border-radius: 8px;
  transition: all 0.4s ease-in;

  &:hover {
    background-color: var(--color-primary);
    box-shadow: 0px 2px 4px 2px var(--color-accent);
    color: white;

    * {
      color: white !important;
    }

    .service-card-icon {
      width: 70px;
      max-height: 70px;

      & svg {
        & path {
          fill: white;
        }
      }
    }

    .service-card-content a {
      border: 2px solid var(--color-white);
      padding: 0.5rem;
      color: var(--color-white) !important;
      border-radius: 8px;

      &:hover {
        transform: translatey(-5px);
      }
    }
  }
}

.service-card-content h3 {
  margin-bottom: 12px;
}

.service-card-content a {
  display: block;
  margin-top: 18px;
  color: var(--color-original);
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  width: fit-content;
}

/* .box {
  --mask:
    radial-gradient(272.1px at 50% 371.25px,#000 99%,#0000 101%) calc(50% - 270px) 0/540px 100%,
    radial-gradient(272.1px at 50% -236.25px,#0000 99%,#000 101%) 50% 135px/540px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
} */

/* HTML: <div class="folded-rectangle"></div> */
/* .folded-rectangle {
  --r: 40px;  radius 

  width: 300px;
  aspect-ratio: 1.5;
  background: #519548;
  border-bottom-left-radius: var(--r);
  mask:
    radial-gradient(var(--r) at 100% 0,#0000 100%,#000 calc(100% + 1px))
    0 0/var(--r) var(--r) no-repeat,
    linear-gradient(#0000 var(--r),#000 0);
} */